>.support{
  >.bg{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: url('/img/bg.jpg') no-repeat center center fixed;
  }
  
  >.overlay{
    position:absolute;
    z-index:2;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: rgba(0,0,0,.5);   
  }
  
  >.popup{
    position:relative;
    z-index:3;
    width:280px;
    background:#eee;
    margin:auto;
    display:block;
    margin-top:15px;
    background:#2C3E50;
    border:1px solid #fff;
    >.logo{
      width:100%;
      line-height:50px;
      font-size:26px;
      color:#fff;
      text-align:center;
    }
    >.text{
      padding:15px;
      width:100%;
      font-size:12px;
      color:#fff;
      text-align:left;
      >a{
        color:#3597D3;
        font-weight:bold;
        text-decoration:underline;
      }
    }
  }
}