<div class="home">
  
  
  <button ng-click="randomData()">Random Data</button>
  
  <div class="escapemap" escapemap data="escapemapData"></div>
  
  <div class="file-content wiki">
  <h1 id="metamorph"><a href="https://gitlab.com/blox/metamorph" target="_blank">Escape Map</a></h1>
  <h2 id="getting-started">Getting started<a href="#getting-started"></a></h2>
  <pre class="code highlight white shell"><code>
  <span class="gp">$ </span>npm install -g gulp bower
  <span class="gp">$ </span>npm install
  <span class="gp">$ </span>bower install
  </code></pre>
  <h2 id="builds">Builds<a href="#builds"></a></h2>
  <pre class="code highlight white shell"><code>
  <span class="gp">$ </span>gulp build
  <span class="gp">$ </span>gulp watch
  </code></pre>
  <h2 id="thought-process">Thought process<a href="#thought-process"></a></h2><h4 id="first-thoughts">First thoughts<a href="#first-thoughts"></a></h4>
  <p>Wow, this is not your average code test. This is going to take a lot more muscle power than just some native JavaScript.</p>
  
  <p>I'm sure after a few days of writing native SVG boiler plate I could definitely get something similar off the ground - but there are tools available to us people spent their entire PhD writing.</p>
  
  <p>The particular tool I had in mind for this project was <strong><a href="http://d3js.org/">D3</a>.</strong></p>
  
  <p><em>"D3.js (or just D3 for Data-Driven Documents) is a JavaScript library for producing dynamic, interactive data visualizations in web browsers. It makes use of the widely implemented SVG, HTML5, and CSS standards."</em></p>
  
  <p>It is my opinion the most powerful visualization library for generating graphics under mathematical constraints available to us as developers. Nothing else comes close.</p>
  <h4 id="boiler-plate">Boiler plate<a href="#boiler-plate"></a></h4>
  <p>First things first, let's whip up a new Gitlab repo and copy paste some boilerplate from a recent project so I can get going fast.</p>
  
  <p>AngularJS, Gulp, Bower, Node.</p>
  
  <p>Let's also make a directive skeleton based off some other D3 directives I've made in the past.</p>
  
  <p>Now - if these things weren't already at my finger tips - configuring and setting up a sophisticated build with AngularJS and Gulp would probably take me several days.</p>
  
  <p>However, since I have them available to me, it <strong>dramatically</strong> increases my rate of development, so I'm going to use them.</p>
  <h4 id="all-the-pieces">All the pieces<a href="#all-the-pieces"></a></h4>
  <p>I spent a couple hours just staring at <strong><a href="https://github.com/metamorph-inc/Escape-map/blob/master/escape-map-example.png" target="_blank">this picture</a></strong> trying to understand the best way to break it up.</p>
  
  <p>Some random thoughts I wrote down as I went through this process:</p>
  
  <ul>
  <li>Responsive wouldn't be possible because walls are coordinate based.</li>
  <li>There is probably an algorithm I could use to find shortest distance for each crew member.</li>
  <li>Wouldn't it be impressive if I built an optimization algorithm for finding the paths each crew member would have to take to travel the least distance combined?</li>
  <li>Crew members must be varying sizes? Surely some would take up more space than others when going through a door. The path that is drawn should probably reflect this.</li>
  <li>A wall does not have doors. Walls create the illusion of doors (<em>so deep</em>).</li>
  <li>I want this to be a directive I can pass different data sets into.</li>
  </ul>
  
  <p>I decided there are 4 main layers to this SVG I was about to build:</p>
  
  <ol>
  <li>Crew</li>
  <li>Walls</li>
  <li>Ships</li>
  <li>Paths each crew member should take</li>
  </ol>
  <h4 id="limitations">Limitations<a href="#limitations"></a></h4>
  <p>I realized how elaborate this solution could get when I started thinking about walls which existed on multiple planes or were even curved.</p>
  
  <p>Once a wall has as a curve you're talking about finding shortest paths using high order polynomials likely only searchable by some regression modeling.</p>
  
  <p>I decided to stick to walls on one plane, no curves.</p>
  
  <p>Random thoughts:</p>
  
  <ul>
  <li>Trémaux's algorithm might work if horizontal walls were brought in.</li>
  <li>Dijkstra's algorithm is a go-to for shortest paths.</li>
  </ul>
  <h4 id="data-structures">Data structures<a href="#data-structures"></a></h4>
  <p>I modeled data structures before even writing code. I knew vaguely what all the properties of each "thing" would be. It was important that the directive I was about to build was reusable in different contexts - so I felt like any properties an object could have should also be configurable.</p>
  
  <p>Dynamic configurations across multiple object properties meant a lot of calculations on the fly. I knew this upfront, didn't care, wanted a challenge.</p>
  
  <p>The most interesting data structures are walls.</p>
  
  <p>Walls, as I point out earlier, could exist on multiple planes and have curves. In SVG, there is a convention for drawing curved lines using a <code>path</code> object. Although this feature is not reflected in the implementation, there is support for going crazy. The algorithms which detect "doors" or gaps formed by non touching walls would need to be re-written to support something like this.</p>
  <h4 id="features-i-dropped">Features I dropped<a href="#features-i-dropped"></a></h4>
  <p>The full rendering of a spaceship. I didn't feel like this provided much value to the exercise, I felt like circles were enough.</p>
  
  <p>The node counter inside each spaceship. My implementation kind of deviated away from the need for this. For example there may be two spaceships available to the same race, in which case I would render two paths the crew member could take. Sometimes this would lead to double counting.</p>
  <h4 id="features-i-added">Features I added<a href="#features-i-added"></a></h4>
  <p>Dynamic map, crew, wall, ship generation via JSON input/pseudo-random data generator.</p>
  
  <p>Configurable map size, ship/crew sizes/offsets, wall width, path stroke/offset, door offsets.</p>
  
  <p>Recursive shortest path generator.</p>
  
  <p>Error correction for competing paths.</p>
  <h4 id="algorithms-leading-to-paths">Algorithms leading to paths<a href="#algorithms-leading-to-paths"></a></h4>
  <p>Rendering the SVG's for the crew, walls, and ships was pretty straight forward. The paths were a challenge.</p>
  
  <p>My overall strategy for generating paths would be to turn the whole thing into a directed graph. The crew would be top level nodes and the ships would be the bottom.</p>
  
  <p>Although a crew member could take several paths to get to his destination, I felt like I should optimize this, since you know, they are trying to escape.</p>
  
  <p>Since doors weren't explicitly built as a data structure, they had to be detected. I did this because as soon as you introduce doors on multiple planes drawing walls becomes impossible to infer. I concluded that a symphony of walls create the illusion of doors. Two walls that do not touch create a gap - whether you put a block of wood in between and bind some hinges is up to you.</p>
  
  <p>Then I needed to sort all of the walls by their x-planes. In order to build a directed graph, I needed a clear order an algorithm could follow to build an object of relationships. I used another algorithm to build the graph from their sorted x-planes that could now find the distance between neighboring nodes using the Pythagorean Theorem.</p>
  
  <p>Using that graph I could run Dijkstra's algorithm to find some initial shortest paths. Of course, the work isn't over because even though a path may be optimal it may need to be adjusted or removed if a competing path does not allow it to fit through a door!</p>
  
  <p>I used a recursive algorithm to find the next optimal path until all paths were exhausted in which case that individual is not making it off the ship! With random data you will often see many crew members left behind!</p>
  
  <p>After finding stable paths I generated <code>(x,y)</code> coordinates for each node. Wall nodes were an exception where two path coordinated were generated - this was to account for the wall thickness so that a member may "pass through".</p>
  <h4 id="conclusion">Conclusion<a href="#conclusion"></a></h4>
  <p>Really cool challenge. I enjoyed this one a lot. As soon as I got to the paths I took a deep breath because I quickly realized how many subtle challenges were ahead of me.</p>
  
  <p>Performance-wise I could definitely make some improvements. I could remove features like "optimal paths" or all the dynamic configurations. I could also rewrite/optimize some of the data structures for better memory use or cut down on iterations.</p>
  
  <p>I added in a pseudo-random data generator so I could show off the configuration. Some really interesting visualizations come out of this. I've saw an edge case where lines were going "underneath" the SVG area - but this comes from the randomly generated wall lengths, which hopefully wouldn't be a part of their original ship design.</p>
  </div>
  
</div>